@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Knowledge Accounting System (KAS) beta</h3>

<p>This site can be used by medium and large enterprises alike <br/>
     to select skilled developers suitable for their upcoming projects.</p>
