@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Ivan Ivakhnenko</h3>

<address>
    App. 187, 8 Kurchatova str.<br />
    Kyiv, Ukraine, 02156<br />
    <abbr title="Phone">P:</abbr>
    +(380)93-335-60-37
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ivanivakhnenko@ukr.net">ivanivakhnenko@ukr.net</a><br />
</address>