@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Knowledge Accounting System</h1>
    <p class="lead">
        KAS beta can be used by medium and large enterprises alike 
        to select skilled developers suitable for their upcoming projects.
    </p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Get started &raquo;</a></p>
</div>